@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;

}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}

button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */



.app-notes-list {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-notes-list-search {
  display: flex;
  padding: 25px;
  padding-bottom: 5px;
}


.app-notes-list-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.app-notes-list-header h1 {
  margin: 0px;
}

.app-notes-list-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.app-notes-list-note {
  padding: 25px;
  cursor: pointer;
}

.app-notes-list-title {
  display: flex;
  justify-content: space-between;
}

.app-notes-list-note button {
  color: crimson;
}

.app-notes-list-note p {
  margin: 10px 0;
}

.app-notes-list-note small {
  display: block;
  color: #999;
}

.app-notes-list-note:hover {
  background: #ddd;
}

.app-notes-list-note.active,
.app-notes-list-note.active small {
  background: #08c;
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-full-note {
  width: 70%;
  height: 100vh;
}

.app-full-note-edit,
.app-full-note-preview {
  height: 60vh;
}

.app-full-note button {
  float: right;
  margin-right: 20px;
  background-color: #04c;
  color: white;
  padding: 10px;
  font-weight: 500;
  border-radius: 20%;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-full-note-edit {
  padding: 25px;
}

.app-full-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.app-full-note-edit input {
  height: 50px;
  font-size: 2rem;
}

.app-full-note-edit input:nth-child(2) {
  height: 30px;
  font-size: 1rem;
}

.tag-container {
  min-width: 60%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 10px;
  height: 100px;
  max-height: 100px;
}

.tag {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  height: 25px;
  margin: 2px 5px 2px 0px;
  font-weight: 500;
}

.tag-container input {
  border: none;
  flex: 1;
  outline: none;
  padding: 0;
  font-size: 1rem;
}

.tag span {
  margin-left: 5px;
  cursor: pointer;
}

/* Preview */
.app-full-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}